<html>
<head></head>
<body>


<form method="POST" action="">
{% csrf_token %}


{% if messages %}
{% for msg in messages %}
<h3>{{msg}}</h3>

{% endfor %}
{% endif %}

<label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="Username" required></br></br></br>
	  <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="Pwd" required></br></br></br>
	  
	  <input type="submit" value="login">
	  </form>
	  </body>
	  </html>